:root{
    --bg:#22abc9;
}
body{
    margin: 0;
    padding: 0;
    background: #0b0d1c;
}
.container{
    height: 500px;
    width: 500px;
    position: absolute;
    left: 35%;
    top: 20%;
}
.dot{
    height: 70px;
    width: 70px;
    background: var(--bg);
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 41%;
    box-shadow: 0 0 5px var(--bg);
    animation: dot 2.5s infinite;
}
@keyframes dot{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.circle{
    width: 120px;
    height: 300px;
    border-radius: 70px/150px;
    border: 6px solid var(--bg);
    position: absolute;
    box-shadow: 0 0 8px #22abc9;
}
.circle:nth-child(1){
    transform: rotate(0);
    top: 17.7%;
    left: 35%;
    animation: circle1 2.5s infinite;
}
@keyframes circle1{
    0%{
        transform: rotate(0);
        opacity: 0.1;
    }
    100%{
        transform: rotate(90deg);
        opacity: 1;
    }
}
.circle:nth-child(2){
    transform: rotate(0deg);
    top: 17.7%;
    left: 35%;
    animation: circle2 2.5s infinite;
}
@keyframes circle2{
    0%{
        transform: rotate(0);
        opacity: 0.1;
    }
    100%{
        transform: rotate(35deg);
        opacity: 1;
    }
}
.circle:nth-child(3){
    transform: rotate(0deg);
    top: 17.7%;
    left: 35%;
    animation: circle3 2.5s infinite;
}
@keyframes circle3{
    0%{
        transform: rotate(0);
        opacity: 0.1;
    }
    100%{
        transform: rotate(-35deg);
        opacity: 1;
    }
}